
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.app {
    width: 100%;
    max-width: 512px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 60px;
    background-color: #673AB7;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: pink;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(229, 178, 23);
}