* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* STRUTTURA PAGINA */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
}

.app {
    width: 100%;
    max-width: 512px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 1%;
    background-color: #673AB7;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-grow: 1;
    background-color: pink;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(229, 178, 23);
}

/* STRUTTURA MAIN */

.sidebar {
    width: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    flex-direction: column;
    padding: 16px 0;
    gap: 12px;
}

.content {
    flex-grow: 1;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SPECIFICHE ICONE SIDEBAR */

.icona {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.icona-discord {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border: 2px solid black;
    cursor: pointer;
}